doctype html
html
  head
    title= title
    script(type='text/javascript',src='/javascripts/jquery-1.11.2.min.js')
    script(type='text/javascript',src='/javascripts/bootstrap.min.js')
    script(type='text/javascript',src='/javascripts/jquery-ui.min.js')
    script(type='text/javascript',src='/javascripts/socketio.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    script(type='text/javascript',src='/javascripts/main.js')
  body
    block content
